/*style*/
* {
  box-sizing: border-box;
}

body {
  font: 14px 'Roboto Slab';
  background-color: #f2f2f2;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 1280px;
}

header {
  height: auto;
  width: 100%;
  padding: 0;
}

.logo {
  display: inline-block;
  float: left;
  width: 20%;
  padding: 5px;
}

.menu {
  display: inline-block;
  float: right;
  width: 80%;
  text-align: right;
}

header a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: #a4243d;
  padding: 1em 1em;
}

header a img {
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

header ul {
  padding: 0.5em 0;
  padding-left: 0;
  margin: 0;
}

header ul li {
  display: inline-block;
  padding: 0.1em 0.2em;
  font-size: 1.9rem;
  vertical-align: middle;
}

.flexslider {
  border: none;
}

h1 {
  border-bottom: solid #f45d54 5px;
  text-align: left;
  margin: 10px 0;
  font-size: 2rem;
  color: #a4243d;
  padding: 0.8em 1.2em;
  text-transform: uppercase;
}

h1 span {
  color: #f45d54;
}

.content {
  border: solid 1px;
}
